.appbar{
    height: 45px;
    /* background-color: #5f9ea0; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.appbar-title{
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(32, 39, 45);
}
.appbar-logo{
    height: auto;
    width: 55px;
}
.appbar-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.appbar-list li a{
    text-decoration: none;
    color: black;
}

.appbar-item{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(32, 39, 45);
}
.hero-content{
    display: flex;
    height: 75vh;
    justify-content: space-evenly;

}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    align-items: center;
    flex:1;
    padding: 15px;
} 

.hero-img{
    flex:1;
}

.slogan{
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(32, 39, 45);
}

.p-text{
    font-size: 18px;
    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color:rgb(32, 39, 45);
}

.hero-btn{
    border:none;
    color:aliceblue;
    background-color: rgb(113, 212, 255);
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px 10px 15px;
}

.hero-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:15px;
    align-items: center;
}

.contact-panel{
    background-color: rgb(113, 212, 255);
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
}

.content-1{
    padding: 25px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.tile-container{
    display: flex;
    justify-content: space-evenly;
    gap:50px;
}

.tile{
    height: 50vh;
    width: 15vw;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
}
.tile-grouper{
    padding-bottom: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap:25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
}

.t1{
    background-image: url(img/peace.jpg);
    background-position: center;
    background-color: rgba(193, 190, 190, 0.5);
    background-size: cover;
}
.t2{
    background-image: url(img/staff.jpg);
    background-position:initial;
    background-color: rgba(193, 190, 190, 0.5);
    background-size: cover;
}
.t3{
    background-image: url(img/tech.jpg);
    background-position:center;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    background-repeat: no-repeat;

}
.t4{
    background-image: url(img/support.jpg);
    background-position:center;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;

}

.tile-overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.715); /* Change the opacity (last value) to control the darkness of the overlay */
    z-index: 1;
    border-radius: 7px;
  }

  .tile-overlay .tile {
    color: #484646; /* Change this to a suitable color that contrasts well with the overlay */
    z-index: 2;
  }

@media screen and (max-width: 768px) {
    /* Example media query for devices with a maximum width of 768px */
    .appbar {
        flex-direction: column;
    }

    .appbar-list {
        display: none;
    }

    .appbar-item {
        margin-bottom: 10px;
    }

    .hero .slogan{
        text-align: center;
    }
    .hero .p-text{
        text-align: left;
    }

    .hero-content {
        flex-direction: column;
    }

    .contact-panel{
        padding:20px;
        text-align: center;
    }

    .content-1{
        height: auto;
    }

    .tile{
        width: 50vw;
    }
    .tile-container{
        flex-direction: column;
        height:auto;
    }

    .tile-grouper{
        margin-bottom: 20px;
    }

}