
.appbar {
    height: 10vh;
    padding: 0px 10px 0px 10px;
    @include flex(row,space-between, center);
  }
  .logo {
    display: flex;
  }
  .appbar-title {
    font-size: 37px;
    font-family: $title_font;
    color: $text_color;
  }
  
  .appbar-logo {
    height: auto;
    width: 55px;
  }
  
  .appbar-list {
    @include flex(row, space-between, center);
    gap: 15px;
    margin-right: 25px;
  
    li a {
      text-decoration: none;
      color: $text_color;
    }
  }
  
  .appbar-item {
    font-size: 18px;
    font-family: $title_font;
    color: $text_color;
  }
  