$primary_color: rgb(113, 212, 255);
$text_color: rgb(30, 31, 32);
$alt_text_color: aliceblue;


$title_font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$text_font: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
